name: "Submit to Web Store"
on:
  push:
    tags:
      - 'v*'

jobs:
  publish-chrome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build Chrome extension
        run: npm run build:chrome
      - name: Chrome Platform Publish
        uses: PlasmoHQ/bpp@v3
        with:
          keys: ${{ secrets.BPP_CHROME_KEYS }}
          chrome-file: build/chrome-mv3-prod.zip

  publish-firefox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build Firefox extension
        run: npm run build:firefox
      - name: Firefox Platform Publish
        uses: PlasmoHQ/bpp@v3
        with:
          keys: ${{ secrets.BPP_FIREFOX_KEYS }}
          firefox-file: build/firefox-mv2-prod.zip
